@model IEnumerable<TraineesManagementSystem.Models.TraineeDetails>

@{
    Layout = "AdminLayout";
    PaginationProperties pager = new PaginationProperties();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}




<dir class="board">
	<table width="100%">
<thead>
	<tr>
		<td></td>
		<td>Name</td>
		<td>Date Of Joining</td>
		<td>Mobile Number</td>
		<td>Date Of Birth</td>
		<td>Delete Trainee</td>
	</tr>
</thead>
<tbody>
			@if (Model != null && Model.Count() > 0)
			{

				foreach (var item in Model)
				{

									   <tr>
										   <td>

							@*popup button*@

						 <div class="box">
										<a class="button" onclick="details()" href="#@Html.DisplayFor(modelitem=>item.TraineeId)" style="align:center;">...</a>
						</div>



							@*PopUp ProfileCard*@


						<div id="@Html.DisplayFor(modelitem=>item.TraineeId)" class="overlay">

							<div class="popup">


											<div class="wrapper">

												<a class="close" href="#">&times;</a>

												<div class="left">
													<img src="~/ProfilePics/@item.ProfilePic">
													<h4>@Html.DisplayFor(modelitem=>item.TraineeName)</h4>
													<p>Developer</p>
												</div>

												<div class="right">

													<div class="info">
														<h3>About </h3>
														<div class="info_data">
															<div class="data">
																<h4>Email</h4>
																<p>@Html.DisplayFor(modelitem=>item.EmailId)</p>
															</div>
															<div class="data">
																<h4>Phone</h4>
																<p>@Html.DisplayFor(modelitem=>item.MobileNumber)</p>
															</div>
														</div>

													</div>



													<div class="social_media">
														<ul>
															<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
															<li><a href="#"><i class="fab fa-twitter"></i></a></li>
															<li><a href="#"><i class="fab fa-instagram"></i></a></li>
															<li><a href="#"><i class=" fa-solid fa-envelope"></i></a></li>


														</ul>
													</div>
												</div>
											</div>
							</div>
						</div>
										   </td>
										  <td class="people">
												<img src="~/ProfilePics/@item.ProfilePic"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
											<div class="people-de">
								 <h5 ><a asp-action="GetTraineeDetailsById" asp-route-traineeId="@item.TraineeId">@Html.DisplayFor(modelitem=>item.TraineeName)</a>

									</h5>
																	 <p>@Html.DisplayFor(modelitem=>item.EmailId)</p>
											 </div>
										   </td>
											   <td class="people-des">
													   <p>@Html.DisplayFor(modelitem=>item.DateOfJoining)</p>
											   </td>

											   <td class="people-des">
													   <p>@Html.DisplayFor(modelitem=>item.MobileNumber)</p>
											   </td>

											   <td class="people-des">
													  <p>@Html.DisplayFor(modelitem=>item.DateOfBirth)</p>
													  </td>
						               <td class="people-des">

							<a asp-action="Delete" asp-route-Id="@item.TraineeId"><i class="fa-solid fa-trash"></i></a>
													  </td>
											  
										</tr>


				}
			}




			else
			{
						 <td colspan="4" class="text-center"><b><a asp-action="Register">No Data Available . Please Add Data By CLick On Create Button</a></b></td>
			}
			</tbody>
	<td colspan="4" class="text-center"><b>No more trainees to show.</b></td>


</table>
</dir>
<partial name="_TraineeDetailsPartialView" model="@pager"/>