@model TraineesManagementSystem.Models.TraineeDetails;

@{
    ViewData["Title"] = "GetTraineeDetailsById";
    Layout = "AdminLayout";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container emp-profile">

    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="~/ProfilePics/@Html.DisplayFor(model=>model.ProfilePic)" style="object-fit: cover;" />

            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    @Html.DisplayFor(model=>model.TraineeName)
                </h5>
                <h6>
                    Developer and Designer
                </h6>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EducationDetails</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.TraineeId)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.TraineeName)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.EmailId)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date Of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.DateOfBirth)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.MobileNumber)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Joining Date</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.DateOfJoining)</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row">
                            <div class="col-md-6">
                                <label>University name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.University)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>College name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.DegreeCollegeName)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Education</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.Stream)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>YearOfPass</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.DegreePassedOut)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Percentage</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.DisplayFor(model=>model.DegreePercentage)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a asp-route-Id="@Model.TraineeId" style="text-decoration:none;" asp-action="Edit">Edit Profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">

                <a href="">Outlook</a><br />
                <a href="">Microsoft teams</a><br />
                <a href="">Mail</a>
                <p>SKILLS</p>
                <a href="">Web Designer</a><br />
                <a href="">Web Developer</a><br />
                <a href="">WordPress</a><br />
                <a href="">WooCommerce</a><br />
                <a href="">PHP, .Net</a><br />
            </div>
        </div>

    </div>
