@model IEnumerable<TraineesManagementSystem.Models.TraineesInSubBatches>

@{
    ViewData["Title"] = "TraineesInSubbatches";
    int mainBatchId=(int)TempData["mainBatchId"] ;
    Layout = "AdminLayout";


}
<link rel="stylesheet" href="~/css/Details.css">

<h1>TraineesInSubbatches</h1>

<p>
    <a asp-action="TraineesInMainBatch" asp-route-MainBatchId="@mainBatchId">Add Trainees</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MainBatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainBatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBatchName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TraineeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeName)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MainBatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainBatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBatchName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TraineeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
            <td>
               <a asp-controller= "AdminView" asp-action="DelTraineeInSubBatch" asp-route-traineeId="@item.TraineeId" asp-route-SubBatchName="@item.SubBatchName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
