@model IEnumerable<TraineesManagementSystem.Models.TraineesWithBatches>

@{
	Layout = "AdminLayout";

	ViewData["Title"] = "TraineesInMainBatch";
	string subBatchName=TempData["SubBatchName"].ToString() ;
	string AssignCourse = TempData["course"].ToString();

}

<button><a style="text-decoration:none;color: #fff;" asp-action="BatchesDetails" asp-controller="AdminView">Go To Batches</a></button>

<button><a style="text-decoration:none;color: #fff;" asp-action="SubBatchesDetails">Go To SubBatches</a></button>



<div class="values">
	<div class="val-box">
		<i class="fas fa-users"></i>
		<div class="content" style="margin-left: 15px;">
			<h3>@Model.Count()</h3>
			<span>All Trainees</span>
		</div>
	</div>
</div>

<dir class="board">
	<table width="100%">
		<thead>
			<tr>
				<td></td>
				<td>Name</td>
				<td>Date Of Joining</td>
				<td>Mobile Number</td>
				<td>Date Of Birth</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Count() > 0)
			{

				foreach (var item in Model)
				{

					<tr>
						
							
						<td class="people">
							<div class="people-de">

								<p>@Html.DisplayFor(modelitem=>item.TraineeId)</p>
								<h5>
									<a asp-action="GetTraineeDetailsById" asp-route-traineeId="@item.TraineeId" style="text-decoration:none;">@item.TraineeName</a>

								</h5>
								
							</div>
						</td>
						<td class="people-des">
							<p>@Html.DisplayFor(modelitem=>item.BatchName)</p>
						</td>

						<td>
							<a asp-action="AddTraineeToSubBatch" asp-route-BatchId="@item.BatchId" asp-route-BatchName="@item.BatchName" asp-route-TraineeId="@item.TraineeId" asp-route-TraineeName="@item.TraineeName"  asp-route-SubBatchName="@subBatchName" asp-route-AssignCourse="@AssignCourse">Add Trainee</a> 

						</td>
					</tr>


				}
			}




			else
			{
			<td colspan="4" class="text-center"><b><a asp-action="Register">No Data Available . Please Add Data By CLick On Create Button</a></b></td>
			}
		</tbody>
		<td colspan="4" class="text-center"><b>No more trainees to show.</b></td>


	</table>
</dir>

<h1>TraineesInMainBatch</h1>
<link rel="stylesheet" href="~/css/Details.css">

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeName)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
           
            <td>
                <a asp-action="AddTraineeToSubBatch" asp-route-BatchId="@item.BatchId" asp-route-BatchName="@item.BatchName" asp-route-TraineeId="@item.TraineeId" asp-route-TraineeName="@item.TraineeName"  asp-route-SubBatchName="@subBatchName">Add Trainee</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
